<article
    class="project"
    {{on 'mouseenter' this.toggleView}}
    {{on 'mouseleave' this.toggleView}}
>

    <Project::Image
        src={{@image}}
        alt="Example Picture"
        class="{{if this.isPreview "preview" "background"}}"
    />

    {{#if this.isPreview}}
        <div class="info-block">

            <div class="title">
                {{@name}}
            </div>

            {{@description}}

        </div>
    {{/if}}


</article>