{{page-title "Projects"}}

<div class="grid">

    {{#each @model as |project|}}
        <div class="grid-item">
            <Project::Project 
                @name={{project.name}}
                @image={{project.display_image}}
                @description={{project.description}}
                @id={{project.id}}
            />
        </div>
    {{/each}}

</div>
